body{
    display: grid;
    grid-template-areas: 'nav'
                         'banner'
                         'main'
                         'section'
                         'footer';
grid-template-columns: 99.7vw;
margin: 0;
}                         

header{
    background-image: url("../img/download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: banner;
    height: 200px;

}

main{
    grid-area: main;

}

main h1, main p{
    text-align: center;
}



nav{
    grid-area: nav;
    align-items: center;
    background-color: salmon;
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding: 0px 10px;
}

nav div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
}

nav div:nth-child(3){
    display: none;

}

nav div span{
    background-color: black;
    height: 3px;
    width: 20px;
}

nav img{
    width: 30px;
}

section{
    grid-area: section;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section .funcionarios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

section .funcionarios div img{
    width: 100px;
}

@media(min-width:580px){
    header{
        background-image: url("../img/krusty-krab-1-1068x580.jpg");
    }

    nav div a{
        text-decoration: none;
        font-size: 16px;
        color: black;
    }

    nav div:nth-child(2){
        display: none;

    }

    nav div:nth-child(3){
        display: block;
    }

    section .funcionarios{
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (min-width:720px){
    header {
        background-image: url("../img/xxx-d_spongebob_mov-zx28659.jpg");
    }
    
    
}